

<div class="home">


  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>



    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>

</div>

{% for category in site.categories %}
  <h4>{{ category[0] }}</h4>

    <ul>
    {% for post in category[1] %}

        <li><a href="{{ post.url }}">{{ post.title }}</a>{{ post.excerpt }}</li>


    {% endfor %}
    </ul>




{% endfor %}
